.qualification {
  padding: 15px;
}
.executionMethod {
  margin-right: 20px;
}
.content {
  background: #fff;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1890ff;
}
.forms {
  transform: translateX(-15px);
}
.operation {
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
}
.operation_item {
  cursor: pointer;
}
.table {
  margin-top: 20px;
}
