.container {
  width: 100%;
  height: 100%;
}
.previous {
  font-size: 25px;
}

.header {
  box-sizing: border-box;
  background: #fff;
  display: flex;
  width: 100%;
  min-width: 1200px;
  height: 50px;
  border-bottom: 1px solid #d7d7d7;
}
.upper {
  margin-right: 10px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}
.configureContainer {
  margin-top: 10px;
  display: flex;
}
.containerUpper {
  margin-left: 15px;
}

.logImg {
  width: 100px;
}

.headerR {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  padding-right: 32px;
}

.userInfo {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 40px;
  // height: 40px;
  // border: 1px solid #d7d7d7;
  // border-radius: 50%;
}

.infoModal {
  position: absolute;
  top: 48px;
  right: -20px;
  z-index: 3;
  display: none;
  background: #fff;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
}

.userInfo:hover {
  .infoModal {
    display: block;
  }
}

.modalItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 32px;
  margin: 4px 8px;

  &:hover {
    background: #eee;
  }
}

.divider {
  height: 1px;
  margin: 4px 8px;
  background: #d7d7d7;
}

.icon {
  margin-right: 12px;
  font-size: 18px;
  color: #666 !important;
}

.outBoxContainer {
  margin: 15px;
  min-height: calc(100vh - 80px);
  background: #fff;
  border-radius: 5px;
  min-width: 985px;
  overflow-x: auto;
}

.fullHeight {
  height: 100vh;
}
.menu {
  color: #666;
}

.miniMenu {
  // width: 80px;
}

.innerMenuBox {
  flex: 1;
}

.menuIcon {
  font-size: 20px !important;
  color: inherit !important;
  cursor: pointer;
}

// .menuSwitchBox {
//   width: inherit;
//   background: #001529;
//   border-right: 1px solid #001529;
// }

// .menuSwitchIcon {
//   position: absolute;
//   bottom: 12px;
//   left: 24px;
//   font-size: 16px !important;
//   color: #fff !important;
//   cursor: pointer;
//   transition: all 0.1s ease;
// }

// .centerSwitchIcon {
//   left: 32px;
// }

.content {
  flex: 1;
  min-width: 1200px;
  overflow: auto;
  // background-color: #fff;
}

.fillContent {
  overflow: inherit;
}
.earlyWarning {
  position: relative;
  margin-right: 30px;
  cursor: pointer;
}
.pointer {
  cursor: pointer;
}
.remind {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: red;
}
.warning {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #faad14;
}
.circularWarning {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #faad14;
  margin-top: 7px;
  margin-left: 5px;
  margin-right: 5px;
}
.circularDelay {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: red;
  margin-top: 7px;
  margin-left: 5px;
  margin-right: 5px;
}
.containerList {
  display: flex;
  margin-top: 5px;
  width: 280px;
}
.containerList :hover {
  background: #7ea097;
}
.scrollbar {
  background-color: #f5f5f5;
  height: 300px;
  width: 280px;
  overflow: scroll; //设置滚动条
  // overflow-y: scroll; //设置滚动条
}
.todoContent {
  background-color: #f5f5f5;
  height: 200px;
  width: 280px;
  overflow: auto;
  border: none;
}
.todoContent::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 10px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.todoContent::-webkit-scrollbar-thumb {
  background: #e8e8e8;
  /*滚动条里面小方块*/
  border-radius: 10px;
  // box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
.todoContent::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
  /*滚动条里面轨道*/
  // box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.overflow {
  height: 450px;
}
.textColor {
  margin-right: 5px;

  color: #0d49ee;
}
